.page {
  background-color: #F7F8FC ;
  .group_8 {
    position: absolute;
    top: auto;
    width: 750rpx;
    height: 389rpx;
    .block_3 {
      width: 796rpx;
      height: 100%;
      margin: 36rpx 0 0 30rpx;
      .group_9 {
        background-color: rgba(255, 255, 255, 0);
        height: 245rpx;
        width: 129rpx;
        position: relative;
        .image_3 {
          position: absolute;
          left: 9rpx;
          top: 2rpx;
          height: 210rpx;
          width: 129rpx;
        }
        .text_8 {
          width: 44rpx;
          height: 26rpx;
          overflow-wrap: break-word;
          color: rgba(68, 68, 68, 1);
          font-size: 22rpx;
          font-family: Source Han Sans-Regular;
          font-weight: normal;
          text-align: center;
          white-space: nowrap;
          line-height: 22rpx;
          margin: 225rpx 0 0 50rpx;
        }
      }
      .group_12 {
        background-color: rgba(255, 255, 255, 0);
        height: 245rpx;
        width: 129rpx;
        position: relative;
        margin-left: 58rpx;
        .image_4 {
          position: absolute;
          left: 2rpx;
          height: 210rpx;
          width: 129rpx;
        }
        .text_9 {
          background-image: linear-gradient(to left, #6bd0ff, #00d9d9);
          width: 44rpx;
          height: 26rpx;
          overflow-wrap: break-word;
          font-size: 22rpx;
          font-family: Source Han Sans-Medium;
          font-weight: 500;
          text-align: center;
          white-space: nowrap;
          line-height: 22rpx;
          margin: 225rpx 0 0 40rpx;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .block_5 {
        background-color: rgba(255, 255, 255, 0);
        height: 245rpx;
        width: 129rpx;
        position: absolute;
        left: 404rpx;
        top: 36rpx;
        .image_7 {
          position: absolute;
          left: 4rpx;
          top: 3rpx;
          height: 210rpx;
          width: 129rpx;
        }
        .text_10 {
          width: 69rpx;
          height: 26rpx;
          overflow-wrap: break-word;
          color: rgba(68, 68, 68, 1);
          font-size: 22rpx;
          font-family: Source Han Sans-Regular;
          font-weight: normal;
          text-align: center;
          white-space: nowrap;
          line-height: 22rpx;
          margin: 225rpx 0 0 35rpx;
        }
      }
      .group_14 {
        background-color: rgba(255, 255, 255, 0);
        height: 245rpx;
        margin-left: 219rpx;
        width: 129rpx;
        position: relative;
        .image_5 {
          position: absolute;
          left: 20rpx;
          top: 2rpx;
          height: 210rpx;
          width: 129rpx;
        }
        .text_11 {
          width: 44rpx;
          height: 26rpx;
          overflow-wrap: break-word;
          color: rgba(68, 68, 68, 1);
          font-size: 22rpx;
          font-family: Source Han Sans-Regular;
          font-weight: normal;
          text-align: left;
          white-space: nowrap;
          line-height: 22rpx;
          margin: 225rpx 0 0 60rpx;
        }
      }
    }
  }
  .scroll{
    position: relative; top: 355rpx;
  .group_15 {
    position: relative;
    width: 730rpx;
    height: 847rpx;
    background: #ffffff;
    margin: 0 10rpx 10rpx 10rpx;
    border-radius: 20rpx;
    overflow: hidden;
    .block_6 {
      background-color: rgba(216, 216, 216, 1);
      height: 548rpx;
      width: auto;
        .image_8 {
          width: 100%;
          height: 100%;
      }
      .background{
        background-color: #060C24;
        opacity: 50%;
        height: 86rpx;
        bottom: 90rpx;
        position: relative;
        z-index: 1;
        .text-wrapper_4 {
          font-family: Source Han Sans-Medium;
          font-weight: 500;
          margin-left: 20rpx;
          position: relative;
          top: 20rpx;
          .text_22 {
            color: #FFFFFF;
            font-size: 32rpx;
            font-family: Source Han Sans-Medium;
            font-weight: 500;
          }

          .text_23 {
            color: #FFFFFF;
            font-size: 32rpx;
            letter-spacing: 2px;
            font-family: D-DIN-Bold;
            font-weight: 700;
          }
        }
        .lineProgress{
          position: relative;
          top: 43rpx;
        }
      }
    }
    .block_7 {
      height: 91rpx;
      margin: 31rpx 0 0 30rpx;
      .text-group_1 {
        margin-top: 3rpx;
        .text_14 {
          width: 259rpx;
          height: 36rpx;
          overflow-wrap: break-word;
          color: rgba(0, 32, 36, 1);
          font-size: 32rpx;
          font-family: Source Han Sans-Bold;
          font-weight: 700;
          text-align: left;
          white-space: nowrap;
          line-height: 36rpx;
        }
        .text-wrapper_3 {
          margin-top: 17rpx;
          .tag {
            width: max-content;
            font-family: AliPHT3-55Regular;
            color: #9C9CB0;
            font-size: 24rpx;
            background-color: #F2F4F8 ;
            border-radius: 10rpx;
            height: 42rpx;
            margin-right: 10rpx;
            display: inline-flex;
            align-items: center;
            .text{
              margin: 0 9rpx 0 9rpx;
            }
          }
        }
      }
      .image-wrapper_4 {
        .avatar{
          border: 4rpx solid #ffffff;
          border-radius: 50%;
          width: 90rpx;
          height: 90rpx;
          margin-right: 30rpx;
          box-shadow: 0 6rpx 12rpx 0 #060C24;
        }
        .label_2 {
          width: 28rpx;
          height: 28rpx;
          position: absolute;
          margin: 60rpx 0 0 -60rpx;
        }
      }
    }

    .block_10 {
      margin: 50rpx 20rpx 30rpx 30rpx;
      .block_11 {
        margin-top: 5rpx;
        .text-wrapper_5 {
          .text_26 {
            color: rgba(0, 0, 0, 1);
            font-size: 48rpx;
            font-family: D-DIN;
            font-weight: 400;
            text-align: center;
          }
          .text_27 {
            color: rgba(0, 0, 0, 1);
            font-size: 48rpx;
            font-family: D-DIN;
            font-weight: bolder;
          }
        }
        .image-text_1 {
          margin-top: 5rpx;
          .text-group_2 {
            color: rgba(136, 136, 136, 1);
            font-size: 20rpx;
            font-family: Source Han Sans-Regular;
          }
          .thumbnail_1 {
            width: 22rpx;
            height: 22rpx;
          }
        }
      }
      .text-wrapper_6 {
        height: 76rpx;
        background: #FFFFFF 100% no-repeat;
        background-size: 100% 100%;
        width: 130rpx;
        border-radius: 35px;
        border: #DEDEDE solid 1rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        .text_28 {
          color: rgba(68, 68, 68, 1);
          font-size: 28rpx;
          font-family: Source Han Sans-Regular;
          font-weight: bolder;
        }
      }
      .text-wrapper_7 {
        height: 76rpx;
        background: linear-gradient(to left, #6bd0ff, #00d9d9) 100% no-repeat;
        background-size: 100% 100%;
        width: 130rpx;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text_29 {
          color: rgba(255, 255, 255, 1);
          font-size: 28rpx;
          font-family: Source Han Sans-Regular;
          font-weight: normal;
        }
      }
    }
  }
  }
}
