.page {
	position: relative;
	width: 750rpx;
	height: 2463rpx;
	overflow: hidden;
}

.section_1 {
	position: relative;
	width: 750rpx;
	height: 177rpx;
}

.box_2 {
	width: 680rpx;
	height: 58rpx;
	margin: 90rpx 0 31rpx 40rpx;
}

.text_4 {
	width: 64rpx;
	height: 46rpx;
	overflow-wrap: break-word;
	color: rgba(136, 136, 136, 1);
	font-size: 32rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 46rpx;
	margin-top: 3rpx;
}

.text_5 {
	width: 128rpx;
	height: 46rpx;
	overflow-wrap: break-word;
	color: rgba(0, 32, 36, 1);
	font-size: 32rpx;
	font-family: Source Han Sans-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 46rpx;
	margin: 3rpx 0 0 40rpx;
}

.label_1 {
	position: absolute;
	left: 624rpx;
	top: 35rpx;
	width: 31rpx;
	height: 22rpx;
}

.box_3 {
	height: 58rpx;

	width: 160rpx;
	position: absolute;
	left: 350rpx;
	top: 90rpx;
	border-radius: 25px;
	border: 2rpx solid #eaeaea;
}

.image-wrapper_1 {
	background-color: rgba(216, 216, 216, 0);
	height: 60rpx;
	width: 100rpx;
}

.image_qiyeban {
	height: 60%;
	width: 90rpx;
	margin: 10rpx 0 0 20rpx;
}

.image_2 {
	width: 40rpx;
	height: 80%;
	margin: 3rpx 0 0 0;
}

.group_8 {
	position: relative;
	width: 750rpx;
	height: 389rpx;
}

.block_3 {
	width: 796rpx;
	height: 220rpx;
	margin: 36rpx 0 0 30rpx;
}

.group_9 {
	background-color: rgba(255, 255, 255, 0);
	height: 210rpx;
	width: 129rpx;
	position: relative;
}

.group_10 {
	height: 170rpx;
	background-size: 100% 100%;
	width: 100rpx;
	margin: 40rpx 0 0 18rpx;
}

.group_11 {
	width: 93rpx;
	height: 140rpx;
	margin: 30rpx 0 0 -18rpx;
}

.image_3 {
	position: absolute;
	left: 9rpx;
	top: 2rpx;
	height: 210rpx;
	width: 129rpx;
}

.group_12 {
	background-color: rgba(255, 255, 255, 0);
	height: 210rpx;
	width: 129rpx;
	position: relative;
	margin: 10rpx 0 0 58rpx;
}

/* .box_4 {
	height: 170rpx;
	background-size: 100% 100%;
	width: 100rpx;
	margin: 40rpx 0 0 18rpx;
} */

.group_13 {
	height: 210rpx;
	width: 129rpx;
	margin: 30rpx 0 0 -18rpx;
}

.image_4 {
	position: absolute;
	left: 2rpx;
	top: 2rpx;
	height: 210rpx;
	width: 129rpx;
}

/* .text_6 {
	width: 122rpx;
	height: 15rpx;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 0.66);
	font-size: 14rpx;
	font-family: HYWuYouRuiKai-W;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 14rpx;
	margin: 66rpx 0 0 -16rpx;
} */
.block_5 {
	background-color: rgba(255, 255, 255, 0);
	height: 210rpx;
	width: 129rpx;
	position: absolute;
	left: 404rpx;
	top: 36rpx;
}

.image_7 {
	position: absolute;
	left: 4rpx;
	top: 3rpx;
	height: 210rpx;
	width: 129rpx;
}

.group_14 {
	background-color: rgba(255, 255, 255, 0);
	height: 210rpx;
	margin-left: 219rpx;
	width: 129rpx;
	position: relative;
}

/* .section_4 {
	height: 170rpx;
	background-size: 100% 100%;
	width: 100rpx;
	margin: 40rpx 0 0 18rpx;
} */

/* .block_4 {
	width: 93rpx;
	height: 140rpx;
	margin: 30rpx 0 0 -18rpx;
} */

.image_5 {
	position: absolute;
	left: 20rpx;
	top: 2rpx;
	height: 210rpx;
	width: 129rpx;
}

/* .text_7 {
	width: 122rpx;
	height: 15rpx;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 0.5808);
	font-size: 14rpx;
	font-family: HYWuYouRuiKai-W;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 14rpx;
	margin: 56rpx 0 0 -16rpx;
} */

.text-wrapper_2 {
	width: 605rpx;
	height: 26rpx;
	margin: 25rpx 0 0 72rpx;
}

.text_8 {
	width: 44rpx;
	height: 26rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 22rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	line-height: 22rpx;
}

.text_9 {
	background-image: linear-gradient(90deg, rgba(107, 208, 255, 1) 0, rgba(0, 217, 217, 1) 100%);
	width: 44rpx;
	height: 26rpx;
	overflow-wrap: break-word;
	font-size: 22rpx;
	font-family: Source Han Sans-Medium;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	line-height: 22rpx;
	margin-left: 143rpx;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text_10 {
	width: 69rpx;
	height: 26rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 22rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	line-height: 22rpx;
	margin-left: 131rpx;
}

.text_11 {
	width: 44rpx;
	height: 26rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 22rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 22rpx;
	margin-left: 130rpx;
}

.image-wrapper_2 {
	width: 52rpx;
	height: 6rpx;
	margin: 35rpx 0 41rpx 349rpx;
}

/* 
.image_6 {
	width: 52rpx;
	height: 6rpx;
} */

.text_12 {
	position: absolute;
	left: 143rpx;
	top: 92rpx;
	width: 122rpx;
	height: 15rpx;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 0.66);
	font-size: 14rpx;
	font-family: HYWuYouRuiKai-W;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 14rpx;
}

.section_2 {
	height: 170rpx;
	background-size: 100% 100%;
	width: 100rpx;
	margin: 40rpx 0 0 18rpx;
}

.section_3 {
	width: 93rpx;
	height: 140rpx;
	margin: 30rpx 0 0 -18rpx;
}

.text_13 {
	position: absolute;
	left: 517rpx;
	top: 92rpx;
	width: 122rpx;
	height: 15rpx;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 0.66);
	font-size: 14rpx;
	font-family: HYWuYouRuiKai-W;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 14rpx;
}

.group_15 {
	position: relative;
	width: 690rpx;
	height: 793rpx;
	background: lightgrey;
	background-size: 100% 100%;
	margin: -1rpx 0 0 30rpx;
	border-radius: 20px;
}

.block_6 {
	background-color: rgba(216, 216, 216, 1);
	border-radius: 20px;
	height: 389rpx;
	width: 690rpx;
}

.image-wrapper_3 {
	height: 389rpx;
	background-size: 100% 100%;
	width: 690rpx;
}

.image_8 {
	width: 690rpx;
	height: 389rpx;
}

.block_7 {
	width: 630rpx;
	height: 91rpx;
	margin: 31rpx 0 0 30rpx;
}

.text-group_1 {
	width: 306rpx;
	height: 88rpx;
	margin-top: 3rpx;
}

.text_14 {
	width: 259rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(0, 32, 36, 1);
	font-size: 32rpx;
	font-family: Source Han Sans-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text-wrapper_3 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	font-size: 0;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
	margin-top: 17rpx;
}

.text_15 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.text_16 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.text_17 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.text_18 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.text_19 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.text_20 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.text_21 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.image-wrapper_4 {
	height: 90rpx;
	background-size: 100% 100%;
	width: 90rpx;
}

.label_2 {
	width: 30rpx;
	height: 30rpx;
	margin: 60rpx 0 0 60rpx;
}

.text-wrapper_4 {
	width: 486rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	font-size: 0;
	letter-spacing: 2px;
	font-family: Source Han Sans-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
	margin: 36rpx 0 0 30rpx;
}

.text_22 {
	width: 486rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 28rpx;
	letter-spacing: 2px;
	font-family: Source Han Sans-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text_23 {
	width: 486rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 36rpx;
	letter-spacing: 2px;
	font-family: D-DIN-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text_24 {
	width: 486rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 28rpx;
	letter-spacing: 2px;
	font-family: Source Han Sans-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text_25 {
	width: 486rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 36rpx;
	letter-spacing: 2px;
	font-family: D-DIN-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.block_8 {
	height: 10rpx;
	background: lightgray;
	background-size: 100% 100%;
	width: 630rpx;
	margin: 39rpx 0 0 30rpx;
}

.block_9 {
	width: 491rpx;
	height: 10rpx;
}

.block_10 {
	width: 630rpx;
	height: 76rpx;
	margin: 50rpx 0 35rpx 30rpx;
}

.block_11 {
	width: 108rpx;
	height: 63rpx;
	margin-top: 5rpx;
}

.text-wrapper_5 {
	width: 107rpx;
	height: 35rpx;
	margin-left: 1rpx;
}

.text_26 {
	width: 13rpx;
	height: 32rpx;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 28rpx;
	font-family: D-DIN-Regular;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	line-height: 32rpx;
	margin-top: 3rpx;
}

.text_27 {
	width: 92rpx;
	height: 28rpx;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 48rpx;
	font-family: D-DIN-Bold;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	line-height: 28rpx;
}

.image-text_1 {
	width: 105rpx;
	height: 23rpx;
	margin-top: 5rpx;
}

.text-group_2 {
	width: 80rpx;
	height: 23rpx;
	overflow-wrap: break-word;
	color: rgba(136, 136, 136, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.thumbnail_1 {
	width: 20rpx;
	height: 20rpx;
	margin-top: 2rpx;
}

.text-wrapper_6 {
	height: 76rpx;
	background: lightgray;
	background-size: 100% 100%;
	margin-left: 122rpx;
	width: 190rpx;
}

.text_28 {
	width: 112rpx;
	height: 28rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 28rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 28rpx;
	margin: 23rpx 0 0 39rpx;
}

.text-wrapper_7 {
	height: 76rpx;
	background: royalblue;
	background-size: 100% 100%;
	margin-left: 20rpx;
	width: 190rpx;
}

.text_29 {
	width: 112rpx;
	height: 28rpx;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 28rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 28rpx;
	margin: 23rpx 0 0 39rpx;
}

.label_3 {
	position: absolute;
	left: 505rpx;
	top: 598rpx;
	width: 32rpx;
	height: 34rpx;
}

.group_16 {
	position: relative;
	width: 690rpx;
	height: 793rpx;
	background: lightgray;
	background-size: 100% 100%;
	margin: 30rpx 0 0 30rpx;
}

.box_5 {
	background-color: rgba(216, 216, 216, 1);
	border-radius: 22px;
	height: 389rpx;
	width: 690rpx;
}

.image-wrapper_5 {
	height: 389rpx;
	background-size: 100% 100%;
	width: 690rpx;
}

.image_9 {
	width: 690rpx;
	height: 389rpx;
}

.box_6 {
	width: 630rpx;
	height: 91rpx;
	margin: 31rpx 0 0 30rpx;
}

.text-group_3 {
	width: 306rpx;
	height: 88rpx;
	margin-top: 3rpx;
}

.text_30 {
	width: 249rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(0, 32, 36, 1);
	font-size: 32rpx;
	font-family: Source Han Sans-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text-wrapper_8 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	font-size: 0;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
	margin-top: 17rpx;
}

.text_31 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.text_32 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.text_33 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.text_34 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.text_35 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.text_36 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.text_37 {
	width: 306rpx;
	height: 35rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 24rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 24rpx;
}

.image-wrapper_6 {
	height: 90rpx;
	background-size: 100% 100%;
	width: 90rpx;
}

.label_4 {
	width: 30rpx;
	height: 30rpx;
	margin: 60rpx 0 0 60rpx;
}

.text-wrapper_9 {
	width: 487rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	font-size: 0;
	letter-spacing: 2px;
	font-family: Source Han Sans-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
	margin: 36rpx 0 0 30rpx;
}

.text_38 {
	width: 487rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 28rpx;
	letter-spacing: 2px;
	font-family: Source Han Sans-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text_39 {
	width: 487rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 36rpx;
	letter-spacing: 2px;
	font-family: D-DIN-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text_40 {
	width: 487rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 28rpx;
	letter-spacing: 2px;
	font-family: Source Han Sans-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.text_41 {
	width: 487rpx;
	height: 36rpx;
	overflow-wrap: break-word;
	color: rgba(34, 34, 34, 1);
	font-size: 36rpx;
	letter-spacing: 2px;
	font-family: D-DIN-Bold;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	line-height: 36rpx;
}

.box_7 {
	height: 10rpx;
	background-size: 100% 100%;
	width: 630rpx;
	margin: 39rpx 0 0 30rpx;
}

.box_8 {
	width: 491rpx;
	height: 10rpx;
}

.box_9 {
	width: 630rpx;
	height: 76rpx;
	margin: 50rpx 0 35rpx 30rpx;
}

.block_12 {
	width: 108rpx;
	height: 63rpx;
	margin-top: 5rpx;
}

.text-wrapper_10 {
	width: 107rpx;
	height: 35rpx;
	margin-left: 1rpx;
}

.text_42 {
	width: 13rpx;
	height: 32rpx;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 28rpx;
	font-family: D-DIN-Regular;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	line-height: 32rpx;
	margin-top: 3rpx;
}

.text_43 {
	width: 93rpx;
	height: 28rpx;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, 1);
	font-size: 48rpx;
	font-family: D-DIN-Bold;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	line-height: 28rpx;
}

.image-text_2 {
	width: 105rpx;
	height: 23rpx;
	margin-top: 5rpx;
}

.text-group_4 {
	width: 80rpx;
	height: 23rpx;
	overflow-wrap: break-word;
	color: rgba(136, 136, 136, 1);
	font-size: 20rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20rpx;
}

.thumbnail_2 {
	width: 20rpx;
	height: 20rpx;
	margin-top: 2rpx;
}

.text-wrapper_11 {
	height: 76rpx;
	background: lightgrey;
	background-size: 100% 100%;
	margin-left: 122rpx;
	width: 190rpx;
}

.text_44 {
	width: 112rpx;
	height: 28rpx;
	overflow-wrap: break-word;
	color: rgba(68, 68, 68, 1);
	font-size: 28rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 28rpx;
	margin: 23rpx 0 0 39rpx;
}

.text-wrapper_12 {
	height: 76rpx;
	background: royalblue;
	background-size: 100% 100%;
	margin-left: 20rpx;
	width: 190rpx;
}

.text_45 {
	width: 112rpx;
	height: 28rpx;
	overflow-wrap: break-word;
	color: rgba(255, 255, 255, 1);
	font-size: 28rpx;
	font-family: Source Han Sans-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 28rpx;
	margin: 23rpx 0 0 39rpx;
}

.label_5 {
	position: absolute;
	left: 505rpx;
	top: 598rpx;
	width: 32rpx;
	height: 34rpx;
}
