.page {
	position: relative;
	width: 750rpx;
	height: 1460rpx;
	overflow: hidden;

	.section_5 {
		height: 1140rpx;
		/*1220*/
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));

		width: 690rpx;
		margin: 0 0 0 30rpx;
		border: 3rpx solid #ffffff;
		box-shadow: 6rpx 0rpx 16rpx #002024;
		border-radius: 15px;
		.group_2 {
			width: 690rpx;
			height: 1140rpx;
			background-image: url(../../static/static/教练.jpg);
			background-position: center;
			background-size: auto 100%;
			flex-direction: column;
			justify-content: flex-start;
			position: relative;
			display: flow;
			border-radius: 15px;
			.box_8 {
				width: 600rpx;
				height: 78rpx;
				margin: 708rpx 0 0 30rpx;
				position: absolute;
				bottom: auto;
				.group_3 {
					width: 150rpx;
					height: 75rpx;
					margin-top: 3rpx;
					.text-wrapper_2 {
						width: 135rpx;
						height: 37rpx;
						margin-left: 1rpx;
						.text_6 {
							width: 15rpx;
							height: 33rpx;
							overflow-wrap: break-word;
							color: rgba(255, 255, 255, 1);
							font-size: 32rpx;
							font-family: D-DIN bold;
							/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
							font-weight: normal;
							text-align: center;
							white-space: nowrap;
							line-height: 32rpx;
							margin-top: 4rpx;
						}
						.text_7 {
							width: 92rpx;
							height: 32rpx;
							overflow-wrap: break-word;
							color: rgba(255, 255, 255, 1);
							font-size: 48rpx;
							/* font-family: 'Gill Sans MT', 'Trebuchet MS'; */
							font-family: D-DIN;
							font-weight: 700;
							text-align: center;
							white-space: nowrap;
							line-height: 32rpx;
							margin: 0 0 0 10rpx;
						}
					}
					.text_8 {
						width: 116rpx;
						height: 34rpx;
						overflow-wrap: break-word;
						color: rgba(255, 255, 255, 1);
						font-size: 24rpx;
						letter-spacing: 3px;
						font-family: Source Han Sans-Regular;
						font-weight: normal;
						text-align: center;
						white-space: nowrap;
						line-height: 34rpx;
						margin-top: 4rpx;
					}
				}
				.group_4 {
					width: 1rpx;
					height: 70rpx;
					margin: 5rpx 0 0 10rpx;
					direction: col;
					background-color: rgba(255, 255, 255, 1);
				}
				.group_5 {
					width: 306rpx;
					height: 78rpx;
					margin-left: 30rpx;
					.box_9 {
						width: 350rpx;
						height: 35rpx;
						.text_9 {
							width: 235rpx;
							height: 34rpx;
							overflow-wrap: break-word;
							color: rgba(255, 255, 255, 1);
							font-size: 32rpx;
							letter-spacing: 2px;
							font-family: Source Han Sans-Bold;
							font-weight: 700;
							text-align: left;
							white-space: nowrap;
							line-height: 34rpx;
						}
						.label_2 {
							width: 30rpx;
							height: 30rpx;
							margin: 5rpx 0 0 30rpx;
						}
					}
					.text-wrapper_3 {
						width: 306rpx;
						height: 34rpx;
						overflow-wrap: break-word;
						font-size: 0;
						font-family: Source Han Sans-Regular;
						font-weight: normal;
						text-align: left;
						white-space: nowrap;
						line-height: 34rpx;
						margin-top: 9rpx;
						.text_10 {
							width: 306rpx;
							height: 34rpx;
							overflow-wrap: break-word;
							color: rgba(255, 255, 255, 1);
							font-size: 24rpx;
							font-family: Source Han Sans-Regular;
							font-weight: normal;
							text-align: left;
							white-space: nowrap;
							line-height: 34rpx;
						}
					}
				}
			}
			.image-text_1 {
				width: 606rpx;
				height: 123rpx;
				margin: 795rpx 0 0 30rpx;
				position: absolute;
				bottom: auto;
				.block_1 {
					position: relative;
					width: 132rpx;
					height: 38rpx;
					align-items: center;
					justify-content: center;
					background: linear-gradient(rgba(0, 217, 217, 0.5), rgba(107, 208, 255, 0.5));
					/* opacity: 0.4; */
					border-radius: 10rpx;
					.image-text_2 {
						width: 119rpx;
						height: 28rpx;
						margin: 5rpx 0 0 12rpx;
						.text-group_1 {
							width: 96rpx;
							height: 28rpx;
							overflow-wrap: break-word;
							color: rgba(255, 255, 255, 1);
							font-size: 24rpx;
							font-family: Source Han Sans-Medium;
							font-weight: 500;
							text-align: left;
							white-space: nowrap;
							line-height: 28rpx;
						}
						.thumbnail_1 {
							width: 17rpx;
							height: 17rpx;
							margin-top: 7rpx;
						}
					}
					.image-text_3 {
						position: absolute;
						left: 12rpx;
						top: 5rpx;
						width: 119rpx;
						height: 28rpx;
						.text-group_1 {
							width: 96rpx;
							height: 28rpx;
							overflow-wrap: break-word;
							color: rgba(255, 255, 255, 1);
							font-size: 24rpx;
							font-family: Source Han Sans-Medium;
							font-weight: 500;
							text-align: left;
							white-space: nowrap;
							line-height: 28rpx;
						}
						.thumbnail_1 {
							width: 17rpx;
							height: 17rpx;
						}
					}
				}
				.text-group_2 {
					width: 666rpx;
					height: 72rpx;
					overflow-wrap: break-word;
					font-size: 0;
					font-family: Source Han Sans-Regular;
					font-weight: normal;
					text-align: justify;
					line-height: 36rpx;
					margin-top: 11rpx;
					.text_17 {
						width: 606rpx;
						height: 72rpx;
						overflow-wrap: break-word;
						color: rgba(255, 255, 255, 1);
						font-size: 22rpx;
						font-family: Source Han Sans-Regular;
						font-weight: normal;
						text-align: justify;
						line-height: 36rpx;
						/* white-space: nowrap; */
						overflow: hidden;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						display: -webkit-box;
						text-overflow: ellipsis;
					}
					.text_18 {
						width: 100rpx;
						height: 30rpx;
						overflow-wrap: break-word;
						color: rgba(54, 214, 237, 1);
						font-size: 22rpx;
						font-family: Source Han Sans-Regular;
						font-weight: normal;
						text-align: justify;
						line-height: 36rpx;

						margin: 35rpx 0 0 0;
					}
				}
			}
			.box_10 {
				width: 657rpx;
				height: 192rpx;
				margin: 3rpx 0 29rpx 30rpx;
				position: absolute;
				bottom: 0;
				.image-wrapper_2 {
					width: 572rpx;
					height: 170rpx;
					margin-top: 22rpx;
					justify-content: space-between;
					.image_3 {
						width: 128rpx;
						height: 170rpx;
						margin-right: 20rpx;
						border: 2rpx solid #ffffff;
						border-radius: 25rpx;
					}
				}
				.image_4 {
					width: 65rpx;
					height: 192rpx;
				}
			}
		}
	}
	.section_6 {
		width: 750rpx;
		height: 137rpx;
		.group_6 {
			width: 690rpx;
			height: 96rpx;
			margin: 30rpx 0 0 30rpx;
			.text-wrapper_4 {
				height: 96rpx;
				background: #f2f4f8 100% no-repeat;
				background-size: 100% 100%;
				width: 330rpx;
				border-radius: 25px;
				.text_19 {
					width: 112rpx;
					height: 28rpx;
					overflow-wrap: break-word;
					color: rgba(68, 68, 68, 1);
					font-size: 28rpx;
					font-family: Source Han Sans-Regular;
					font-weight: normal;
					text-align: left;
					white-space: nowrap;
					line-height: 28rpx;
					margin: 34rpx 0 0 109rpx;
				}
			}
			.text-wrapper_5 {
				height: 96rpx;
				background: linear-gradient(to left, #6bd0ff, #00d9d9) 100% no-repeat;
				background-size: 100% 100%;
				width: 330rpx;
				border-radius: 25px;
				.text_20 {
					width: 112rpx;
					height: 28rpx;
					overflow-wrap: break-word;
					color: rgba(255, 255, 255, 1);
					font-size: 28rpx;
					font-family: Source Han Sans-Regular;
					font-weight: normal;
					text-align: left;
					white-space: nowrap;
					line-height: 28rpx;
					margin: 34rpx 0 0 109rpx;
				}
			}
		}
	}
}
