.time-out {
    color: red;
}
.benefit:active {
    opacity: 0.5;
}

.benefit {
    width: 690rpx;
    height: 120rpx;
    position: relative;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 20rpx;
    padding-left: 16rpx;
    padding-top: 10rpx;
    color: #f05656;
}

.label.offline {
    color: $winhouse-main-color;
}

.bac {
    width: 82rpx;
    height: 45rpx;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.info {
    padding-top: 56rpx;
    display: flex;
    align-items: center;
    padding-left: 40rpx;
    padding-right: 30rpx;
}

.name {
    font-size: 28rpx;
    color: #222;
}

.teacher.online {
    color: #f05656;
    background-color: #fef5f6;
    border: 1rpx solid $winhouse-main-color-1;
}

.teacher.offline {
    color: $winhouse-main-color;
    background-color: #fffaf5;
    border: 1rpx solid $winhouse-main-color-1;
}

.teacher {
    color: #a5a8bb;
    background-color: #fafafc;
    border: 1rpx solid #c3c6dc;
    font-size: 22rpx;
    padding: 6rpx 12rpx 6rpx 16rpx;
    border-radius: 8rpx;
    margin-left: 19rpx;
}

.balance {
    margin-left: auto;
    font-size: 22rpx;
    color: #999;
}

.arrow {
    width: 12rpx;
    height: 21rpx;
    margin-left: 20rpx;
}
